#panel {
    margin-top: 3%;
}

#twod-map {
    text-align: center;
}

#remote {
    object-fit: contain;
}

#conference {
    position: relative;
}

#local {
    position: absolute;
    bottom: 10px;
    right: 18px;
    object-fit: contain;
}